*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #333333;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 20rem;
  padding: 0.68rem 1.18rem 0.68rem 1rem;
}

@media (min-width: 414px) {
  .header {
    padding: 1.18rem 2.18rem 1.18rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 1.25rem 1.9rem 1.25rem 1.25rem;
  }
}

@media (min-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 1.25rem 2rem;
  }
}

@media (min-width: 1440px) {
  .header {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .header__dropdown {
    display: none;
  }
}

.header__menu {
  display: none;
}

@media (min-width: 1024px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    width: 90.5%;
  }
}

.header__menu_list {
  align-items: center;
  display: flex;
  font-size: 0.87rem;
  font-weight: 500;
}

.header__menu_list-item {
  color: #333333;
}

.header__menu_list-item:not(:last-child) {
  padding-right: 1rem;
}

.header__menu_list-item:nth-last-child(2) {
  position: relative;
  margin-right: 1rem;
}

.header__menu_list-item:nth-last-child(2)::after {
  background: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 5.5rem;
  top: 0.5rem;
}

.header__menu_button {
  background-color: #e3f5f5;
  border-radius: 0.25rem;
  color: #03b2a5;
  font-weight: 700;
  margin-left: 1.25rem;
  padding: 0.87rem 1.25rem;
}

.wrapper {
  box-shadow: 0 -0.125rem 0 #eff2f2;
  padding: 1rem;
}

@media (min-width: 25.88rem) {
  .wrapper {
    padding: 1.25rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bread-crumbs {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem;
  padding-top: 1rem;
}

.bread-crumbs__link:first-child {
  margin-right: 0.6rem;
  position: relative;
}
.bread-crumbs__link:nth-child(2) {
  margin-left: 0.8rem;
}

.bread-crumbs__link:first-child::after {
  background: url('../images/arrow-right.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 3.25rem;
  top: 0.15rem;
}

@media (min-width: 25.88rem) {
  .bread-crumbs {
    padding-top: 1.25rem;
    /* padding: 1rem 1.25rem; */
  }
}

.main__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1.5rem;
}

@media (min-width: 25.88rem) {
  .main__title {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.main__filters {
  font-size: 0.875rem;
  font-weight: 600;
  overflow-x: auto;
  margin: 1.5rem 0;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 25.88rem) {
  .main__filters {
    margin-bottom: 1rem;
  }
}

.main__filters::-webkit-scrollbar {
  display: none;
}

.main__filters_checkbox-button {
  display: inline-block;
  margin: 0 5px 0 0;
  user-select: none;
  position: relative;
}

.main__filters_checkbox-button input[type='checkbox'] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.main__filters_checkbox-button span {
  display: inline-block;
  line-height: 1.25rem;
  border: 0.06rem solid #c1c5cd;
  border-radius: 1.5rem;
  transition: background 0.2s ease;
  padding: 0.38rem 0.5rem;
}

.main__filters_checkbox-button input[type='checkbox']:checked + span {
  border: 0.13rem solid #16c8bb;
}

.main__filters_checkbox-button .main__filters_checkbox-button-all-image,
.main__filters_checkbox-button .main__filters_checkbox-button-self-image {
  padding-left: 1.9rem;
}

.main__filters_checkbox-button-all-image,
.main__filters_checkbox-button-self-image {
  position: relative;
}

.main__filters_checkbox-button-all-image::before {
  content: '';
  background: url('../images/smile-face.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 1.3rem;
  position: absolute;
  width: 1.3rem;
  left: 0.5rem;
  top: 0.45rem;
}

.main__filters_checkbox-button-self-image::before {
  content: '\1F984';
  height: 1rem;
  left: 0.7rem;
  position: absolute;
  width: 1rem;
}

.main__posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main__posts_post {
  background-color: white;
  border: 1px solid #c1c5cd;
  border-top: none;
  border-radius: 1rem;
  display: block;
  height: 29.875rem;
  margin-bottom: 1rem;
  position: relative;
}

@media (min-width: 25.85rem) {
  .main__posts_post {
    height: 29.125rem;
  }
}

.main__posts_post-content {
  padding: 1rem;
}

@media (min-width: 25.85rem) {
  .main__posts_post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
  }
}

.main__posts_post-image {
  border-radius: 1rem 1rem 0px 0px;
  height: 12.875rem;
  width: 100%;
  max-width: 100%;
}

.main__posts_post-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  margin-bottom: 0.25rem;
}

.main__posts_post-author {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}

.main__posts_post-text {
  color: #494949;
  font-size: 0.85rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.main__posts_post-date {
  color: #868686;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.main__posts_post-filters {
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
}

.main__posts_post-filters div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.desktop-post {
  display: none;
}

@media (min-width: 48rem) {
  .main__posts {
    flex-direction: row;
    justify-content: space-between;
  }
  .main__title {
    line-height: 3.5rem;
    font-size: 3rem;
    margin-top: 2.5rem;
  }

  .main__filters {
    margin-bottom: 1.5rem;
    white-space: wrap;
  }

  .main__filters_checkbox-button {
    margin-bottom: 0.5rem;
  }

  .main__posts_post:nth-child(-n + 2) {
    height: 37.25rem;
  }

  .main__posts_post:nth-child(-n + 2) .main__posts_post-content {
    height: 12.25rem;
  }

  .main__posts_post:nth-child(-n + 2) .main__posts_post-image {
    height: 25.25rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) {
    gap: 1.5rem;
    height: 29rem;
    width: 22rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) .main__posts_post-image {
    height: 12.875rem;
    width: 22rem;
  }

  .desktop-post {
    display: block;
  }
}

@media (min-width: 64rem) {
  .main__filters {
    margin-top: 2rem;
  }

  .main__posts {
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .main__posts_post {
    width: 19rem;
  }

  .main__posts_post:nth-child(-n + 2) {
    height: 29rem;
    width: 29.25rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) {
    width: 19rem;
  }

  .main__posts_post:nth-child(-n + 2) .main__posts_post-image {
    height: 16.25rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) .main__posts_post-title {
    width: 17rem;
  }
}

@media (min-width: 90rem) {
  .wrapper {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: 0% 30%;
  }

  .main__title {
    margin-top: 1.87rem;
  }

  .main__posts_post:nth-child(-n + 2) {
    width: 36.75rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) {
    width: 24rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) .main__posts_post-image {
    width: 100%;
  }

  .main__posts_post-filters {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}
