*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #333333;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

q {
  quotes: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 20rem;
  padding: 0.68rem 1.18rem 0.68rem 1rem;
}

.header__menu {
  display: none;
}

.header__menu_list {
  align-items: center;
  display: flex;
  font-size: 0.87rem;
  font-weight: 500;
}

.header__menu_list-item {
  color: #333333;
}

.header__menu_list-item:not(:last-child) {
  padding-right: 1rem;
}

.header__menu_list-item:nth-last-child(2) {
  position: relative;
  margin-right: 1rem;
}

.header__menu_list-item:nth-last-child(2)::after {
  background: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 5.5rem;
  top: 0.5rem;
}

.header__menu_button {
  background-color: #e3f5f5;
  border-radius: 0.25rem;
  color: #03b2a5;
  font-weight: 700;
  margin-left: 1.25rem;
  padding: 0.87rem 1.25rem;
}

.wrapper {
  box-shadow: 0 -0.125rem 0 #eff2f2;
  padding: 1rem;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.bread-crumbs {
  font-size: 0.75rem;
  padding-top: 1rem;
}

.bread-crumbs__link {
  color: rgba(0, 0, 0, 0.7);
}

.bread-crumbs__link:first-child {
  margin-right: 0.6rem;
  position: relative;
}

.bread-crumbs__link:not(:first-child) {
  margin-left: 0.8rem;
}

.bread-crumbs__link:first-child::after {
  background: url('../images/arrow-right.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 3.25rem;
  top: 0.15rem;
}

.bread-crumbs__link:nth-child(2)::after {
  background: url('../images/arrow-right.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 7.4rem;
  top: 5.6rem;
}

.main__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.main__filters {
  font-size: 0.875rem;
  font-weight: 600;
  overflow-x: auto;
  margin: 1.5rem 0;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main__filters::-webkit-scrollbar {
  display: none;
}

.main__filters_checkbox-button {
  display: inline-block;
  margin: 0 0.3125rem 0 0;
  user-select: none;
  position: relative;
}

.main__filters_checkbox-button input[type='checkbox'] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.main__filters_checkbox-button span {
  display: inline-block;
  line-height: 1.25rem;
  border: 0.06rem solid #c1c5cd;
  border-radius: 1.5rem;
  transition: background 0.2s ease;
  padding: 0.38rem 0.5rem;
}

.main__filters_checkbox-button input[type='checkbox']:checked + span {
  border: 0.13rem solid #16c8bb;
}

.main__filters_checkbox-button .main__filters_checkbox-button-all-image,
.main__filters_checkbox-button .main__filters_checkbox-button-self-image {
  padding-left: 1.9rem;
}

.main__filters_checkbox-button-all-image,
.main__filters_checkbox-button-self-image {
  position: relative;
}

.main__filters_checkbox-button-all-image::before {
  content: '';
  background: url('../images/smile-face.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 1.3rem;
  position: absolute;
  width: 1.3rem;
  left: 0.5rem;
  top: 0.45rem;
}

.main__filters_checkbox-button-self-image::before {
  content: '\1F984';
  height: 1rem;
  left: 0.7rem;
  position: absolute;
  width: 1rem;
}

.main__posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.main__posts_post {
  background-color: white;
  border: 0.0625rem solid #c1c5cd;
  border-top: none;
  border-radius: 1rem;
  display: block;
  position: relative;
}

.main__posts_post-content {
  padding: 1rem;
}

.main__posts_button-container {
  width: 100%;
}

.main__posts_post-image {
  border-radius: 1rem 1rem 0 0;
  height: 12.875rem;
  width: 100%;
  max-width: 100%;
}

.main__posts_post-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  margin-bottom: 0.25rem;
}

.main__posts_post-author {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}

.main__posts_post-text {
  color: #494949;
  font-size: 0.85rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
.main__posts_post-date {
  color: #868686;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.main__posts_post-filters {
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
}

.main__posts_post-filters div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.desktop-post {
  display: none;
}

.main__posts_more-button {
  background-color: #35b3a9;
  border-radius: 0.25rem;
  color: white;
  display: block;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 1rem auto 3.7rem auto;
  padding: 0.75rem 4.5rem;
}

.footer {
  background-color: #2963a3;
  color: white;
  padding: 2.19rem 0.88rem 2.31rem 1.125rem;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  height: 11.5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__menu_item-link {
  color: white;
  line-height: 1.5rem;
  font-weight: 700;
}

.footer__newsletter {
  line-height: 1.625rem;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.4375rem 0 0.5rem;
}

.footer__input {
  border: 0.0625rem solid #9d9d9d;
  border-radius: 0.25rem;
  padding: 0.875rem 3.25rem 0.875rem 1rem;
  width: 100%;
}

.footer__input::placeholder {
  color: #9d9d9d;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer__agreement {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin: 0.75rem 0 0.3125rem 0;
}

.footer__membership {
  display: flex;
  flex-direction: row;
  gap: 0.51rem;
}

.footer__membership:first-child {
  margin-left: 0.51rem;
}

.footer__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 1.25rem;
}

.footer__other_info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  margin-top: 2.625rem;
}

.footer__other_info::before {
  content: ' ';
  background: #9d9d9d;
  width: 100%;
  height: 0.01rem;
  top: -1.3rem;
  position: absolute;
}

.footer__input_button {
  display: none;
}

.section__post {
  margin-top: 2rem;
}

.section__post_title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.section__post_info {
  display: flex;
  margin: 0.5rem 0 1rem 0;
}

.section__post_info p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.section__post_info-date::after,
.section__post_info-date::before {
  content: '•';
  padding: 0 0.5rem;
}

.section__post_info-category {
  color: #2963a3;
}

.section__post_image {
  height: 10rem;
  margin-bottom: 1rem;
  width: 18rem;
}

.section__post_content {
  margin-bottom: 1rem;
}

.section__post_content-title {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.section__post_content-item {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 0.5rem 2rem;
  position: relative;
}

.section__post_content-item a {
  text-decoration: underline;
}

.section__post_content-item::before {
  content: '•';
  color: #03b2a5;
  font-size: 3rem;
  position: absolute;
  left: -1.7rem;
  top: -0.3rem;
}

.section__post_article-title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.section__post_article-text p:first-child {
  margin-bottom: 0.5rem;
}

.section__post_article-text-item {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.section__post_quote {
  display: block;
  background-color: #f3f7fe;
  background-image: url('../images/quotes.svg');
  background-repeat: no-repeat;
  background-position-y: 1rem;
  background-position-x: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic;
  margin: 2.5rem 0 1rem 0;
  padding: 1.625rem 1rem 1rem 1rem;
}

.section__post_quote p {
  font-weight: 700;
  font-style: normal;
  margin-top: 0.5rem;
}

.section__post_second-quote {
  background-image: url('../images/quote-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic;
  margin: 1.5rem 0 1rem 0;
  text-align: center;
}

.section__post_second-image {
  height: 10rem;
  margin-bottom: 1rem;
  width: 18rem;
}

.section__post_second-image-description {
  color: #868686;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.section__post_third-image,
.section__post_third-image-hands {
  margin: 1rem 0;
}

.section__post_exercise {
  background-color: #fefaec;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.section__post_exercise p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.second-excercise {
  background-color: #fff3eb;
}

.third-exercise {
  background-color: rgb(3, 178, 165, 10%);
}

.section__post_chair-image,
.section__post_girl-image {
  height: 14.68rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.section__post_image-container {
  margin: 1rem 0;
  width: 100%;
}

.section__post_separator-image {
  display: block;
  margin: 0 auto;
}

.section__post_learn-more {
  background-color: #e6f0fd;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__post_learn-more-image {
  display: block;
  margin: 0 auto;
}

.learn-more-title {
  margin: 1.5rem auto 0.5rem auto;
  max-width: 18rem;
}

.section__post__learn-more-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.section__post_learn-more-button {
  background-color: #35b3a9;
  padding: 0.75rem 0;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
}

.section__post__psychologists {
  border-radius: 1rem;
  border: 0.0625rem solid #dedede;
  padding: 1rem 1.18rem 2.1rem 1.18rem;
}

.section__post__psychologists_info {
  text-align: center;
}

.section__post__psychologists-photo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.section__post__psychologists_name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.section__post__psychologists_profession {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.section__post__psychologists_about {
  color: #a2a7b1;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

.section__post__psychologists_about p:first-child {
  position: relative;
  margin-right: 1.5rem;
}

.section__post__psychologists_about p:first-child::after {
  content: '•';
  color: #a2a7b1;
  position: absolute;
  font-size: 1rem;
  position: absolute;
  left: 5.2rem;
  width: 1rem;
  height: 1rem;
}

.section__post__psychologists_title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 2rem 0 0.5rem 0;
  position: relative;
}

.section__post__psychologists_title::before {
  content: '';
  background-color: #a2a7b1;
  font-size: 3rem;
  position: absolute;
  width: 100%;
  height: 0.01rem;
  bottom: 2.7rem;
}

.psychologists_skills {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.psychologists_button {
  margin-top: 1.25rem;
}

.section__post_promo {
  margin: 1.5rem 0;
  width: 100%;
}

.section__post_promo-mobile {
  display: none;
}

.section__post_buy {
  background-image: url('../images/gifts-image.svg');
  background-repeat: no-repeat;
  background-position-y: 1rem;
  border: 0.0625rem solid #dedede;
  border-radius: 1.5rem;
  margin-bottom: 3.75rem;
}

.section__post_buy-wrapper {
  padding: 1rem;
}

.section__post_buy-title {
  color: #2963a3;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 700;
}

.section__post_buy-title span {
  font-size: 1.5rem;
  line-height: 2rem;
}

.section__post_buy-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 1rem 0;
}

.section__post_buy-price {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.buy_button {
  width: 6.75rem;
}

.section__post_third-image-mobile {
  display: none;
}

.section__post_promo-tablet {
  display: none;
}

.section__post_promo-laptop {
  display: none;
}

.section__post_promo-desktop {
  display: none;
}

.section__post__psychologists-label-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.section__post__psychologists-label {
  margin-bottom: 0.7rem;
}

.section__post__psychologists-label-video {
  width: 5.5rem;
}

.section__post__psychologists-label,
.section__post__psychologists-label-video {
  font-size: 0.75rem;
  position: relative;
  background-color: rgba(243, 244, 248, 70%);
  padding: 0.1875rem 0.375rem 0.1875rem 2.5rem;
  border-radius: 0.25rem;
}

.section__post__psychologists-label::before {
  content: '📝';
}

.section__post__psychologists-label-video::before {
  content: '📹️️';
}

.section__post__psychologists-label-video::before,
.section__post__psychologists-label::before {
  height: 1rem;
  left: 0.7rem;
  position: absolute;
  width: 1rem;
}

.section__post_links,
.section__post_choose-psychologist-wrapper {
  display: none;
}

.section__post__psychologists {
  position: relative;
}

.section__post__psychologists-label-container {
  position: absolute;
  left: 1rem;
}

@media (min-width: 25.87rem) {
  .header {
    padding: 1.18rem 2.18rem 1.18rem 1.5rem;
  }

  .section__post__psychologists-label-container {
    left: 2rem;
  }

  .bread-crumbs {
    padding-top: 1rem;
  }
  .main__title {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  .main__filters {
    margin-bottom: 1rem;
  }
  .main__posts_post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
  }

  .footer__newsletter {
    height: 3.25rem;
  }

  .footer__input_container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .footer__input_button {
    background-color: #16c8bb;
    display: block;
    padding: 0.8rem 0.7rem 0.8rem 1.437rem;
    border-radius: 0.25rem;
    position: absolute;
    right: 0;
    top: 5.17rem;
  }

  .footer__contacts {
    grid-template-columns: repeat(7, 1fr);
  }

  .bread-crumbs__link:nth-child(2)::after {
    top: 6.6rem;
  }

  .section__post_image {
    height: 12.9rem;
    width: 100%;
  }

  .section__post_article-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section__post_second-image {
    height: 12.9rem;
    width: 100%;
  }

  .section__post_third-image {
    display: none;
  }

  .section__post_third-image-mobile {
    display: block;
    height: 23.75rem;
    margin: 1rem 0;
  }

  .section__post_chair-image,
  .section__post_girl-image {
    margin-bottom: 1rem;
  }

  .third-exercise {
    margin-bottom: 3.5rem;
  }

  .section__post_learn-more {
    padding: 1.5rem 2rem 2.75rem 2rem;
  }

  .section__post__psychologists {
    padding: 1.5rem 3.875rem 2.25rem 3.875rem;
  }

  .section__post_promo {
    display: none;
  }

  .section__post_promo-mobile {
    display: block;
    margin: 1.5rem 0;
  }

  .section__post_buy {
    background-position-x: 5rem;
    background-position-y: -0.5rem;
    margin-bottom: 7.9375rem;
  }
}

@media (min-width: 48rem) {
  .section__post__psychologists-label-container {
    left: 1rem;
  }

  .main__posts {
    flex-direction: row;
    justify-content: space-around;
  }

  .header {
    padding: 1.25rem 1.9rem 1.25rem 1.25rem;
  }

  .main__title {
    line-height: 3.5rem;
    font-size: 3rem;
    margin-top: 2.5rem;
  }

  .main__filters {
    margin-bottom: 1.5rem;
    white-space: wrap;
  }

  .main__filters_checkbox-button {
    margin-bottom: 0.5rem;
  }

  .main__posts_post:nth-child(-n + 2) {
    height: 37.25rem;
  }

  .main__posts_post:nth-child(-n + 2) .main__posts_post-content {
    height: 12.25rem;
  }

  .main__posts_post:nth-child(-n + 2) .main__posts_post-image {
    height: 25.25rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) {
    gap: 1.5rem;
    height: 29rem;
    width: 22rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) .main__posts_post-image {
    height: 12.875rem;
    width: 22rem;
  }

  .desktop-post {
    display: block;
  }

  .main__posts_more-button {
    margin-bottom: 3.4rem;
  }

  .bread-crumbs__link:nth-child(2)::after {
    top: 6.74rem;
    left: 9rem;
  }

  .bread-crumbs__link {
    margin: 0 1rem;
  }

  .footer__newsletter {
    margin-top: 0;
    width: 23rem;
  }

  .footer__nav_container {
    display: flex;
    gap: 1.9rem;
  }

  .footer__input_container {
    width: 28.125rem;
  }

  .footer__input {
    width: 25.25rem;
  }

  .footer__input_button {
    top: 3.75rem;
    right: 2.7rem;
  }

  .footer__membership {
    margin-top: 1.625rem;
  }

  .footer__contacts {
    grid-template-columns: 1fr 1fr 1fr 1fr 10fr;
  }

  .footer__other_info {
    grid-template-columns: 2.5fr 3fr 3fr 1fr;
    grid-template-rows: 1fr;
  }

  .footer__menu {
    width: 15.4rem;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer__contacts {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2.5rem;
  }

  .footer__other_info {
    grid-template-columns: 3fr repeat(2, 4fr) 2fr;
    width: 100%;
  }

  .section__post_title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }

  .section__post_image {
    height: 20.68rem;
  }

  .section__post_second-image {
    height: 20.68rem;
  }

  .section__post_quote-container {
    width: 100%;
  }

  .section__post_second-quote {
    display: block;
    height: 10.5rem;
    margin: 0 auto 1.5rem auto;
    padding-top: 2rem;
    width: 30.3rem;
  }

  .section__post_third-image-mobile {
    display: none;
  }

  .section__post_article-text-item {
    margin-bottom: 1.5rem;
  }

  .section__post_third-image,
  .section__post_third-image-hands {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 1rem;
  }

  .article-near-picture {
    display: inline-block;
    max-width: 25.5rem;
  }

  .section__post_third-image-hands {
    width: 18.37rem;
  }

  .section__post_exercise {
    padding: 1.5rem;
  }

  .section__post_articles-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  .section__post_learn-more {
    width: 22.25rem;
    padding-bottom: 1.25rem;
  }

  .third-exercise {
    margin-bottom: 1.5rem;
  }

  .section__post_promo-mobile {
    display: none;
  }

  .section__post_promo-tablet {
    display: block;
    margin-bottom: 3.68rem;
  }

  .section__post_buy-wrapper {
    padding: 0.7rem 2.62rem 0.25rem 1.34rem;
  }

  .gifts-container {
    height: 15.5rem;
    margin-bottom: 3.68rem;
  }

  .section__post_article-title {
    margin-bottom: 1rem;
  }

  .second-exercise {
    margin-bottom: 1.5rem;
  }
  .section__post__psychologists,
  .section__post_buy-wrapper {
    max-width: 22.25rem;
  }
}

@media (min-width: 64rem) {
  .header {
    justify-content: space-between;
    padding: 1.25rem 2rem;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    width: 90.5%;
  }

  .header__dropdown {
    display: none;
  }

  .main__filters {
    margin-top: 2rem;
  }

  .main__posts {
    justify-content: flex-start;
    gap: 1.5rem;
  }

  .main__posts_post {
    width: 19rem;
  }

  .main__posts_post:nth-child(-n + 2) {
    height: 29rem;
    width: 29.25rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) {
    width: 19rem;
  }

  .main__posts_post:nth-child(-n + 2) .main__posts_post-image {
    height: 16.25rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) .main__posts_post-title {
    width: 17rem;
  }

  .bread-crumbs__link:nth-child(2)::after {
    top: 7.6rem;
  }

  .footer {
    padding: 2.5rem 1.625rem 1.0625rem 1.75rem;
  }

  .section__post_article-text {
    max-width: 43.7rem;
  }

  .section__post_container {
    display: flex;
    gap: 1.5rem;
  }

  .section__post_learn-more,
  .section__post__psychologists {
    max-width: 13.87rem;
  }

  .section__post_promo-tablet {
    display: none;
  }

  .section__post_promo-laptop {
    display: block;
    margin-top: 1.5rem;
  }

  .learn-more-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .section__post_learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .section__post__learn-more-text {
    text-align: center;
    width: 11rem;
  }

  .section__post__psychologists {
    padding: 1.5rem;
  }

  .section__post__psychologists_title::before {
    bottom: 4rem;
  }

  .psychologists_button {
    margin-top: 0.5rem;
  }

  .section__post_buy-wrapper {
    padding: 1.5rem;
  }

  .section__post_buy {
    background-position-x: 0rem;
    background-position-y: 1.5rem;
  }

  .article-near-picture {
    max-width: 24rem;
  }

  .section__post_articles-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .third-exercise {
    margin-bottom: 4.43rem;
  }

  .right-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .section__post_promo-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .section__post_promo-laptop {
    height: 18.25rem;
    width: 13.87rem;
  }

  .section__post_buy-wrapper {
    width: 13.87rem;
  }
}

@media (min-width: 90rem) {
  .header {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .main__bg_wrapper {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: 0% 30%;
  }

  .main__title {
    margin-top: 1.87rem;
  }

  .main__posts_post:nth-child(-n + 2) {
    width: 36.75rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) {
    width: 24rem;
  }

  .main__posts_post:not(:nth-child(-n + 2)) .main__posts_post-image {
    width: 100%;
  }

  .main__posts_post-filters {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .main__posts_more-button {
    margin-top: 2.5rem;
    margin-bottom: 6rem;
  }

  .bread-crumbs__link:nth-child(2)::after {
    top: 6.56rem;
    left: 15.3rem;
  }

  .footer {
    padding: 2.5rem 7.5rem 1.0625rem 7.5rem;
  }

  .footer__menu {
    width: 24.4rem;
  }

  .footer__labels {
    margin-left: 6rem;
  }

  .footer__other_info {
    grid-template-columns: 1.7fr 2fr 2fr 4fr;
  }

  /* .section__post_wrapper {
    background-image: url('../images/bg-post.svg');
    background-repeat: no-repeat;
    background-position: 100% 52%;
  } */

  .section__post_container {
    justify-content: space-between;
  }

  .section__post__psychologists,
  .section__post_learn-more {
    max-width: 17.625rem;
  }

  .section__post_article-text {
    width: 43.18rem;
  }

  .section__post__psychologists_title::before {
    bottom: 2.5rem;
  }

  .section__post_buy-wrapper {
    width: 17.625rem;
  }

  .section__post_promo-laptop {
    display: none;
  }

  .section__post_promo-desktop {
    display: block;
    margin-top: 1.75rem;
  }

  .section__post_links {
    display: block;
    color: #2963a3;
    margin-bottom: 3rem;
  }

  .section__post_links a {
    padding: 0 0.5rem;
    position: relative;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .section__post_links a:not(:last-child)::after {
    content: '•';
    position: absolute;
    padding-left: 0.4rem;
  }

  .third-exercise {
    margin-bottom: 1.5rem;
  }

  .section__post_choose-psychologist-wrapper {
    background-image: url('../images/bg-choose-psy.svg');
    background-repeat: no-repeat;
    background-position: 100% 52%;
    display: block;
    width: 100%;
  }

  .section__post_choose-psychologist {
    margin: 0 auto;
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
  }

  .choose-psychologist-button {
    margin: 0;
    width: 14.875rem;
  }

  .section__post_choose-psychologist::before {
    content: ' ';
    background: #9d9d9d;
    width: 100%;
    height: 0.01rem;
    position: absolute;
  }

  .section__post_choose-psychologist-title {
    padding-top: 4.5rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .section__post_choose-psychologist-text {
    padding: 1.5rem 0 2rem 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
    width: 20.4375rem;
  }

  .section__post_choose-psychologist-image {
    padding-top: 4.5rem;
  }

  .section__post_choose-psychologist-background {
    background-image: url('../images/bg-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 5rem;
    margin-top: 1.625rem;
  }

  .section__post_wrapper {
    padding: 0;
  }
}
